/* .nav {
	background: black;
	height: 80px;
	display: flex;
	position: fixed;
	width: 100%;
	top: 0;
	opacity: 0.9;
	justify-content: space-between;
	z-index: 10;
	transition: all 21s ease-out;
}

.false {
	display: none;
} */

.nav {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	transition: 0.8s ease-in;
}

.true {
	background: black;
	opacity: 0.9;
	top: 0;
	
}

.false {
	top: -80px;
}